<header>
  <nav>
    <ul class="list">
      <li class="list__item">
        <a href="/products" class="list__link">Products</a>
      </li>
      <li class="list__item">
        <a href="/products/add-product" class="list__link">Add product</a>
      </li>
    </ul>
  </nav>
</header>
